@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<Ugurcan.Models.Tablolar.Category>
@{
    ViewBag.Title = "Kategori Listesi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<section class="header-account"></section>



<h4> Kategori Listesi</h4>
<a href="/Admin/CategoryCreate/" class="btn btn-primary">Yeni Kategori</a><br /><br />
<div class="table-responsive">

    <table id="mytable" class="table table-bordred table-striped">
        <thead>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Eklenme Tarihi</th>
        <th>Güncelle</th>
        <th>Sil</th>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>

                    <td>0</td>
                    <td>Kategori Yok</td>
                    <td>00.00.0000</td>

                    <td><p title="Güncelle"><a href="/Admin/CategoryEdit" class="btn btn-primary btn-xs" data-title="Edit"><span class="fa fa-user"></span></a></p></td>
                    <td><p title="Sil"><a href="#" class="btn btn-danger btn-xs" data-title="Delete"></p></td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ID</td>
                        <td>@item.KategoriAdi</td>
                        <td>@item.EklenmeTarihi</td>
                        <td><a href="/Admin/CategoryUpdate/@item.ID" class="btn btn-warning btn-sm"><span class=" fa fa-pencil-square-o"></span>Güncelle</a></td>
                        <td><a href="#" data-id="@item.ID" id="KategoriSil" class="btn btn-danger btn-sm"><span class="fa fa-trash-o"></span>Sil</a></td>

                    </tr>
                }
            }
        </tbody>

    </table>
    <div class="clearfix"></div>
    <ul class="pagination pull-right">
        @Html.PagedListPager(Model, Sayfa => Url.Action("CategoryIndex", new { Sayfa }), PagedListRenderOptions.Classic)
    </ul>

</div>





<script type="text/javascript">
    $(document).on("click", "#KategoriSil", function () {
        gelenKategory = new Object();
        gelenKategory.ID = $(this).attr("data-id");

        var silTR = $(this).closest("tr");

        swal({
            title: "Kategori Silinecek? ",
            text: "Emin misiniz! ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DDD6B55",
            confirmbuttonText: "Evet,Hayır",
            closeOnConfirm: true
        },
        function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    url: '/Admin/CategoryDelete',
                    type: "POST",
                    data: gelenKategory,
                    dataType: 'json',
                    success: function (response) {
                        if (response.Success) {
                            swal("Silindi!", "Mesajınız Başarıyla Silindi!", "success")
                            silTR.fadeOut(600, function () {
                                silTR.remove();
                            })

                        }

                        else {
                            $.notify(response.Message, "error");
                        }
                    }
                })

            }

        }
        )
    })
</script>
